In [69]:
import pandas as pd

import geopy
import meteostat

In [2]:
df_disasters= pd.read_pickle(r"C:\Users\vitor\Documents\Data Science\Capstone\df_disaster3pck")

In [3]:
df_disasters

,Dis No,Year,Seq,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Country,ISO,...,No Injured,No Affected,No Homeless,Total Affected,Adm Level,Admin1 Code,Admin2 Code,Geo Locations,latitude,longitude
0,1960-0026-AIA,1960,26,Meteorological,Storm,Tropical cyclone,NaN,Donna,Anguilla,AIA,...,250.0,NaN,1000.0,1250.0,NaN,NaN,NaN,NaN,18.195495,-63.075023
1,1960-0025-ANT,1960,25,Meteorological,Storm,Tropical cyclone,NaN,Donna,Netherlands Antilles,ANT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.184500,-68.660792
2,1960-0024-ATG,1960,24,Meteorological,Storm,Tropical cyclone,NaN,Donna,Antigua and Barbuda,ATG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.223472,-61.955461
3,1960-0030-BGD,1960,30,Meteorological,Storm,Tropical cyclone,NaN,NaN,Bangladesh,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.476929,90.293441
4,1960-0031-BGD,1960,31,Meteorological,Storm,Tropical cyclone,NaN,NaN,Bangladesh,BGD,...,NaN,200000.0,NaN,200000.0,NaN,NaN,NaN,NaN,24.476929,90.293441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12518,2022-0788-ZAF,2022,788,Hydrological,Flood,Flash flood,NaN,NaN,South Africa,ZAF,...,NaN,40000.0,NaN,40000.0,1,2708;77314,NaN,"Gauteng, North West (Adm1).",-28.816624,24.991639
12519,2022-0313-ZAF,2022,313,Hydrological,Flood,NaN,NaN,NaN,South Africa,ZAF,...,NaN,200.0,NaN,200.0,1,77311,NaN,KwaZulu-Natal (Adm1).,-28.816624,24.991639
12520,2022-0356-ZAF,2022,356,Hydrological,Flood,NaN,NaN,NaN,South Africa,ZAF,...,4.0,200.0,NaN,204.0,NaN,NaN,NaN,NaN,-28.816624,24.991639
12521,2022-9784-COD,2022,9784,Climatological,Drought,Drought,NaN,NaN,Congo (the Democratic Republic of the),COD,...,NaN,25972806.0,NaN,25972806.0,NaN,NaN,NaN,NaN,-2.981434,23.822264
12522,2022-0650-SSD,2022,650,Hydrological,Flood,NaN,NaN,NaN,South Sudan,SSD,...,NaN,1000000.0,NaN,1000000.0,1,2747;2751;2754;2765;2768;37021,NaN,"Jonglei, Northern Bahr El Ghazal, Unity, Upper...",7.869943,29.666790

In [4]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily

# Set time period
start = datetime(2018, 1, 1)
end = datetime(2018, 12, 31)

# Create Point for Vancouver, BC
vancouver = Point(49.2497, -123.1193, 70)

# Get daily data for 2018
data = Daily(vancouver, start, end)
data = data.fetch()

In [28]:
df_coord=pd.read_csv(r'C:\Users\vitor\Documents\Data Science\Capstone\df_cord.csv')
df_coord.head(1)
df_coord.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  221 non-null    object
 1   latitude    221 non-null    float64
 2   longitude   221 non-null    float64
 3   Country     221 non-null    object
dtypes: float64(2), object(2)
memory usage: 7.0+ KB

In [11]:
lista_lat=df_coord['latitude']
lista_long=df_coord['longitude']
lista_country=df_coord['Country']

In [45]:
from datetime import datetime
from meteostat import Point, Daily

d=pd.DataFrame()
start= datetime(1960,1,1)
end=datetime(2022,12,31)

for i,j,z in zip(lista_lat,lista_long,lista_country):
   point=Point(i,j)
   data=Daily(point,start,end)
   data=data.fetch()
   data['Country']= z
   d=pd.concat([d,data])

AttributeError: type object 'Point' has no attribute 'nearby'

In [64]:
from datetime import datetime
from meteostat import Point, Daily

ImportError: cannot import name 'Radius' from 'meteostat' (c:\Users\vitor\anaconda3\lib\site-packages\meteostat\__init__.py)

In [46]:
from datetime import datetime
from meteostat import Point, Daily

d=pd.DataFrame()
start= datetime(1960,1,1)
end=datetime(2022,12,31)

for i,j,z in zip(lista_lat,lista_long,lista_country):
   point=Point(i,j)
   data=Daily(point,start,end)
   data=data.fetch()
   data['Country']= z
   d=pd.concat([d,data])

In [43]:
d.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1699243 entries, 2005-01-01 to 2022-12-31
Data columns (total 11 columns):
 #   Column   Dtype
---  ------   -----
 0   tavg     float64
 1   tmin     float64
 2   tmax     float64
 3   prcp     float64
 4   snow     float64
 5   wdir     float64
 6   wspd     float64
 7   wpgt     float64
 8   pres     float64
 9   tsun     float64
 10  Country  object
dtypes: float64(10), object(1)
memory usage: 155.6+ MB

In [47]:
d['Country'].unique()

array(['Anguilla', 'Netherlands Antilles', 'Antigua and Barbuda',
       'Hong Kong', 'France', 'India', 'Germany', 'Guam', 'Belgium',
       'Bahamas (the)', 'Dominican Republic (the)', 'Grenada', 'Ecuador',
       'Guadeloupe', 'Switzerland', 'American Samoa',
       'United Kingdom of Great Britain and Northern Ireland (the)',
       'Congo (the)', 'Cook Islands (the)', 'Costa Rica', 'Cyprus',
       'Guatemala', 'Barbados', 'Hungary', 'Czechoslovakia', 'Austria',
       'Denmark', 'Japan', 'Saint Lucia', 'Martinique', 'Mauritius',
       'Niue', 'Philippines (the)', 'Puerto Rico',
       'United States of America (the)', 'Korea (the Republic of)',
       'Soviet Union', 'Thailand', 'Trinidad and Tobago', 'Nepal',
       'Pakistan', 'Niger (the)', 'Togo', 'Tokelau', 'Iraq',
       'El Salvador', 'Romania', 'Papua New Guinea', 'Netherlands (the)',
       'Tuvalu', 'Rwanda', 'Sudan (the)', 'Poland', 'Viet Nam', 'Samoa',
       'Yugoslavia', 'South Africa', 'Wallis and Futuna',
       'Saint Vincent and the Grenadines', 'Vanuatu', 'Comoros (the)',
       'Germany Dem Rep', 'Albania', 'Bermuda',
       'Micronesia (Federated States of)', 'Réunion', 'Ireland',
       'Luxembourg', 'Saint Kitts and Nevis', 'Lebanon',
       "Korea (the Democratic People's Republic of)", 'Eswatini',
       'Turks and Caicos Islands (the)', 'Montserrat', 'Finland',
       'Norway', 'Marshall Islands (the)', 'Lithuania', 'Macedonia',
       'Kazakhstan', 'Macao', 'Virgin Island (U.S.)', 'Serbia Montenegro',
       'Tajikistan', 'Ukraine', 'Azerbaijan', 'Azores Islands', 'Armenia',
       'Moldova (the Republic of)', 'Georgia', 'Czech Republic (the)',
       'Croatia', 'Kuwait', 'Virgin Island (British)', 'Slovakia',
       'Seychelles', 'Bosnia and Herzegovina', 'Latvia', 'Canary Is',
       'Cayman Islands (the)', 'Northern Mariana Islands (the)',
       'Estonia', 'Slovenia', 'Serbia', 'United Arab Emirates (the)',
       'Qatar', 'Saint Barthélemy', 'Saint Martin (French Part)',
       'Isle of Man'], dtype=object)

In [48]:
df_coord['Country'].unique()

array(['Anguilla', 'Netherlands Antilles', 'Antigua and Barbuda',
       'Bangladesh', 'Hong Kong', 'Belize', 'Canada', 'France', 'Greece',
       'Honduras', 'India', 'Colombia', 'Germany', 'Spain', 'Guam',
       'Haiti', 'Afghanistan', 'Belgium', 'Bahamas (the)', 'Cuba',
       'Dominica', 'Dominican Republic (the)', 'Algeria', 'Grenada',
       'Brazil', 'China', 'Ecuador', 'Fiji', 'Guadeloupe', 'Argentina',
       'Bulgaria', 'Bolivia (Plurinational State of)', 'Botswana',
       'Switzerland', 'Chile', 'Ethiopia', 'Indonesia', 'American Samoa',
       'Burkina Faso',
       'United Kingdom of Great Britain and Northern Ireland (the)',
       'Australia', 'Congo (the)', 'Cook Islands (the)', 'Ghana',
       'Gambia (the)', 'Benin', 'Cabo Verde', 'Guinea-Bissau',
       'Costa Rica', 'Cyprus', 'Guatemala', 'Barbados', 'Hungary',
       'Cameroon', 'Guyana', 'Central African Republic', 'Czechoslovakia',
       'Austria', 'Egypt', 'Denmark', 'Djibouti', 'Italy', 'Japan',
       'Saint Lucia', 'Martinique', 'Mauritius', 'Nicaragua', 'Niue',
       'Philippines (the)', 'Puerto Rico', 'Taiwan',
       'United States of America (the)', 'Korea (the Republic of)',
       'Mexico', 'Somalia', 'Soviet Union', 'Tonga', 'Peru', 'Thailand',
       'Tunisia', 'Jamaica', 'Jordan', 'Morocco', 'Myanmar', 'Paraguay',
       'Trinidad and Tobago', 'Iran (Islamic Republic of)', 'Kenya',
       'Sri Lanka', 'Nepal', 'Pakistan', 'Panama', 'Saudi Arabia',
       'Turkey', 'Tanzania, United Republic of', 'Mauritania', 'Malaysia',
       "Lao People's Democratic Republic (the)", 'Mali', 'Mongolia',
       'Niger (the)', 'Senegal', 'Solomon Islands', 'Chad', 'Togo',
       'Tokelau', 'Iraq', 'Mozambique', 'Malawi', 'Portugal',
       'Syrian Arab Republic', 'Uganda', 'Uruguay', 'Lesotho',
       'Madagascar', 'New Caledonia', 'New Zealand', 'El Salvador',
       'Suriname', 'Israel', 'Romania', 'Papua New Guinea', 'Kiribati',
       'Netherlands (the)', 'Tuvalu', 'Iceland', 'Rwanda', 'Sudan (the)',
       'Sierra Leone', 'Sweden', 'Oman', 'Poland', 'Nigeria',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Samoa',
       'Yugoslavia', 'South Africa', 'Wallis and Futuna',
       'Saint Vincent and the Grenadines',
       'Congo (the Democratic Republic of the)', 'Yemen', 'Vanuatu',
       'Zimbabwe', 'Zambia', 'Côte d’Ivoire', 'Guinea', 'Angola',
       'Comoros (the)', 'Germany Dem Rep', 'Albania', 'Bermuda',
       'Micronesia (Federated States of)', 'Gabon', 'Liberia', 'Réunion',
       'Namibia', 'Ireland', 'Luxembourg', 'French Polynesia',
       'Saint Kitts and Nevis', 'Cambodia', 'Lebanon', 'Maldives',
       "Korea (the Democratic People's Republic of)", 'Eswatini',
       'Sao Tome and Principe', 'Turks and Caicos Islands (the)',
       'Burundi', 'Belarus', 'Montserrat', 'Finland', 'Norway',
       'Marshall Islands (the)', 'Lithuania', 'Russian Federation (the)',
       'Eritrea', 'Macedonia', 'Kazakhstan', 'Macao', 'Kyrgyzstan',
       'Virgin Island (U.S.)', 'Serbia Montenegro', 'Tajikistan',
       'Ukraine', 'Turkmenistan', 'Bhutan', 'Azerbaijan',
       'Azores Islands', 'Armenia', 'Brunei Darussalam',
       'Moldova (the Republic of)', 'Georgia', 'Libya',
       'Czech Republic (the)', 'French Guiana', 'Croatia', 'Kuwait',
       'Virgin Island (British)', 'Slovakia', 'Seychelles',
       'Bosnia and Herzegovina', 'Latvia', 'Canary Is', 'Uzbekistan',
       'Cayman Islands (the)',
       'Saint Helena, Ascension and Tristan da Cunha', 'Timor-Leste',
       'Northern Mariana Islands (the)', 'Estonia', 'Slovenia',
       'Palestine', 'Montenegro', 'Serbia', 'South Sudan', 'Palau',
       'United Arab Emirates (the)', 'Qatar', 'Saint Barthélemy',
       'Saint Martin (French Part)', 'Isle of Man'], dtype=object)

In [80]:
Point.radius=500000

In [81]:

point=Point
point=Point(61.0666922,-107.991707)
data_c=Daily(point,start,end)
data_c=data_c.fetch()

In [82]:
data_c

            tavg  tmin  tmax  prcp   snow   wdir  wspd  wpgt    pres  tsun
time
1962-02-17   NaN -31.1 -15.6   0.0  380.0    NaN   NaN   NaN     NaN   NaN
1962-02-18   NaN -34.4 -18.9   0.0  380.0    NaN   NaN   NaN     NaN   NaN
1962-02-19   NaN -37.8 -24.4   0.0  380.0    NaN   NaN   NaN     NaN   NaN
1962-02-20   NaN -41.1 -25.0   0.0  380.0    NaN   NaN   NaN     NaN   NaN
1962-02-21   NaN -36.1 -17.8   0.0  380.0    NaN   NaN   NaN     NaN   NaN
...          ...   ...   ...   ...    ...    ...   ...   ...     ...   ...
2022-12-27 -12.4 -16.1  -8.7   0.8    NaN  112.0  26.7   NaN  1013.4   NaN
2022-12-28  -9.0 -11.4  -6.6   0.0    NaN  138.0  24.0   NaN  1011.7   NaN
2022-12-29 -12.7 -18.0  -7.4   0.0  500.0  150.0  17.2   NaN  1012.1   NaN
2022-12-30 -12.7 -18.4  -6.9   0.0    NaN  154.0  13.6   NaN  1007.1   NaN
2022-12-31  -8.8 -14.7  -2.9   0.0    NaN  190.0   5.5   NaN  1006.9   NaN

[22233 rows x 10 columns]